@import "http://webfonts.ru/import/osans.css";

html {
	font-family: 'Open Sans';
	background: rgb(255, 255, 255);
}

a {
	color: white;
	transition: 200ms all linear;
}

a:hover {

}

span {
	font-family: "OpenSans";
	color:  #fdfdfd;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.56);	
}

/*Footer*/


footer {
	position: relative;
	width: 100%;
	background-color:  #203e51;
}

footer div div div {
	height: 200px;
	line-height: 200px;
}

footer span {
	text-align: left;
}

footer div+div+div span {
	text-align: right;
	float: right;
}

footer span a {
	font-size: 20px;
	color:  rgba(255, 255, 255, 0.6);
}

footer span a:hover {
	color: white;
}

footer span a + a {
	margin-left: 25px;
}

.footer__logo {
	background: url("img/logo.svg") center center no-repeat;
	background-size: auto 60%  ;
}

@media (max-width: 767px) { 
	footer div span {
		text-align: center;
		width: 100%;
		display: block;
	}
	footer div div div {
		height: auto;
		line-height: 60px;
	}

	footer div div div.footer__logo {
		height: 100px;
		line-height: 100px;
		background-size:  50% auto  ;
	}

	footer div+div+div span {
		float: none;
		text-align: center;
	}
}

