@import "http://webfonts.ru/import/osans.css";
html {
	font-family: 'Open Sans';
	background: rgb(255, 255, 255);
}

span {
	
}

footer {
	position: relative;
	width: 100%;
	background-color:  #203e51;
}

footer div div div {
	height: 200px;
}

footer div span {
	line-height: 200px;
}

.footer__logo {
	background: url("img/logo.svg") center no-repeat;
	background-size: auto 50% ;
}

